// Device: GW1N-LV1QN48C6/I5

IO_LOC "button_a"   14;
IO_LOC "button_b"   15;

// RGB LED
IO_LOC "led[0]" 16;
IO_LOC "led[1]" 17;
IO_LOC "led[2]" 18;

IO_LOC "clk"        35;
IO_LOC "init"           37;
IO_LOC "pulse_out"      38;
IO_LOC "pulse_disable"  39;

IO_PORT "init"          PULL_MODE=UP;
IO_PORT "pulse_out"     PULL_MODE=UP;
